@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

h1 {
  color: transparent;
  font: 700 280px "Lily Script One", cursive;
  text-align: center;
  text-shadow: 24px 20px 8px rgba(255, 255, 255, 0.3), 18px 10px 6px rgba(255, 155, 153, 0.39), 8px 6px 6px rgba(0, 0, 0, 0.60), 4px 4px 6px #fff, 0 0 6px #ff9999;
  margin: 0.125em 0;
  position: relative;
}
